Source: os161-toolchain
Section: misc
Priority: optional
Maintainer: Scott Haseley <shaseley@buffalo.edu>
Homepage: https://www.ops-class.org/
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.7

Package: opsclass-os161-toolchain
Architecture: i386 amd64
Depends: ${misc:Depends}, binutils-mips-linux-os161, gcc-mips-linux-os161, gdb-mips-linux-os161, sys161, bmake, test161
Description: ops-class.org OS/161 Toolchain
 ops-class.org OS/161 toolchain metapackage.
